
form {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

input[type="search"] {
    padding: 1.4vh 1vw;
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    margin: 0;
    width: 70%;
}

input[type="search"]::placeholder {
    font-style: italic;
}

input:focus::placeholder {
    color: transparent;
}

input[type="submit"] {
    text-transform: uppercase;
    background-color: #252525;
    color: #f5f5f5;
    border: none;
    font-size: 0.9rem;
    padding: 1.5vh 1vw;
}


.films{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    margin: auto;
}

.movie{
    width: 22%;
    text-align: center;
    margin: 5px 10px;
    position: relative;
}

.movie > .fav{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20%;
    background-color: rgb(39, 39, 39);
    color: white;
    width: 30px;
    height: 30px;
    padding: 6px 0 0 0;
    margin: 0;
    cursor: pointer;
}

.movie > img{
    height: 380px;
    width: 100%;
}

.movie > p {
    font-size: 16px;
}

.movie > a{
    color: black;
    text-decoration: none;
    padding: 0 5px;
    border-bottom: 1px solid #707070;
    margin: 20px 0 20px 0;
    outline: none;
}

h3{
    font-weight: normal;
    text-align: center;
}
.about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
    height: 45px;
}

.fav, .back{
    border: none;
    border-radius: 20%;
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
}

button:nth-child(1){
    margin-bottom: 15px;
}

.fav-on{
    color: red !important;
    border:  1px solid black;
    background-color: white !important;
}

h2{
    font-weight: 300;
}

.main{
    display: flex;
    width: 100%;
    flex-direction: row;
    border-top: 2px solid lightgrey;
}

span{
    font-style: italic;
}

.main > img {
    width: 25%;
    height: auto;
    margin: 20px 5%;
}

.info{
    width: 50%;
    margin-top: 10px
}

